
/* apps/web/src/styles.css */
:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

a.active {
  opacity: 1;
  text-decoration: underline;
}

input, select, button {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button {
  cursor: pointer;
}
